<div id="<%= dom_id family %>">
  <p>
    <strong>Main parent:</strong>
    <%= family.main_parent %>
  </p>

  <p>
    <strong>Sec parent:</strong>
    <%= family.sec_parent %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= family.last_name %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= family.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= family.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= family.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= family.zip %>
  </p>

  <p>
    <strong>Phone1:</strong>
    <%= family.phone1 %>
  </p>

  <p>
    <strong>Phone2:</strong>
    <%= family.phone2 %>
  </p>

  <p>
    <strong>Phone3:</strong>
    <%= family.phone3 %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= family.email %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= family.note %>
  </p>

</div>
